.accordion
iframe#myFrame(width='575', height='371' src='')
h4#titleBar poop

button.button#load_next(onclick="loadProblemForward(problems[iProblem])") Next >>
button.button#load_back(onclick="loadProblemBackward(problems[iProblem])") << Back